<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.ejs</title>
</head>
<body>
    <%
        var host = user;
    %>
    <h1><%=host%>의 홈페이지</h1>
    <p>
        <img src="/public/img01.jpg" title="text 이미지">
    </p>
</body>
</html>
