<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile.ejs</title>
</head>
<body>
    <h1>프로필 페이지</h1>

    <table border="1" width="500">
        <tr>
            <th>name</th>
            <td><%=info.name%></td>
        </tr>
        <tr>
            <th>job</th>
            <td><%=info.job%></td>
        </tr>
        <tr>
            <th>pay</th>
            <td><%=info.pay%></td>
        </tr>
    </table>
</body>
</html>
